<h2>Welcome to Awesome Garage!</h2>
<div class="content">
  <div class="banner" style="background-image:url('<%= image_path "banner_cars.jpg" %>');">
    <%=link_to "View Cars", cars_path %>
  </div>
</div>
